.Home {
  display: flex;
  height: 100vh;
  position: relative;
}

.Home .Container .WriteOne {
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  color: #f0ece2;
  font-size: calc(2rem + 3vw);
  margin: 0;
  padding-top: 13vh;
  left: 4%;
  position: absolute;
  z-index: 1;
}

.Home .Plaza {
  width: 100%;
  height: 100vh;
}

.Home .PlazaTwo {
  display: none;
}

.Home .Yacht {
  position: absolute;
  height: 50%;
  right: 10%;
  top: 14%;
}

.Home .Parrot {
  position: absolute;
  height: 72%;
  right: 12%;
  bottom: 2%;
  transform: rotateY(180deg);
}

/* MEDIA DISPLAY */

@media
  (max-width: 740px) and
  (max-height: 360px) {
  .Home .Yacht {
    right: 15%;
    top: 15%;
    transform: rotate(290deg);
  }

  .Home .Parrot {
    height: 52%;
    right: 60vw;
    bottom: 23%;
    transform: rotate(10deg);
  }

  .Home .Container .WriteOne {
    color: #33331a;
    font-size: calc(2rem + 1vw);
    top: 61%;
    left: 25vw;
  }
}

@media
  (min-width: 740px) and
  (max-width: 768px) and
(max-height: 1024px) and
(min-height: 361px) {
  .Home .Plaza {
    display: none;
  }

  .Home .PlazaTwo {
    display: flex;
    width: 100vw;
    height: auto;
  }

  .Home .Yacht {
    display: none;
  }

  .Home .Parrot {
    height: 50%;
    right: 1vw;
    bottom: 7vh;
  }

  .Home .Container .WriteOne {
    color: #33331a;
    font-size: calc(3.5rem + 4vh);
    padding-top: 15vw;
    left: 5%;
  }
}

@media (orientation: portrait) {
  .Home .Plaza {
    display: none;
  }

  .Home .PlazaTwo {
    display: flex;
    width: 100vw;
    height: auto;
  }

  .Home .Yacht {
    display: none;
  }

  .Home .Parrot {
    height: 40%;
    right: 1vw;
    bottom: 7vh;
  }

  .Home .Container .WriteOne {
    color: #33331a;
    font-size: calc(2.5rem + 1.5vw);
    padding-top: 16vh;
    left: 5%;
  }
}
